<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex justify-center text-white items-center h-screen bg-gray-200"
  >
    <div class="max-w-sm w-full bg-[#1C1B21] rounded-xl overflow-hidden">
      <div class="bg-[#33313C] relative flex">
        <div class="flex flex-col mt-4 w-full">
          <input
            class="text-right bg-[#33313C] text-white w-full h-22 px-5 mt-12 text-xl font-bold focus:outline-none"
            type="text"
            id="result"
            autofocus
          />
          <input
            class="text-right bg-[#33313C] text-white w-full h-24 rounded-b-3xl px-5 text-5xl font-bold focus:outline-none"
            type="text"
            id="output"
            readonly
          />
        </div>
        <span
          class="absolute h-2 w-10 bg-[#C3C2CC] rounded-full bottom-2 right-0 left-0 mx-auto hover:cursor-pointer"
        ></span>
        <a href="#">
          <svg
            class="w-6 h-6 text-[#C3C2CC] absolute right-5 top-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M12 6h0m0 6h0m0 6h0"
            />
          </svg>
        </a>
      </div>
      <div class="mx-10">
        <div class="flex flex-row justify-between items-center my-2">
          <button class="w-10 h-10" onclick="calculateSquareRoot()">√</button>
          <button class="w-10 h-10" onclick="setPi()">&pi;</button>
          <button class="w-10 h-10" onclick="writeCharacter('^')">^</button>
          <button
            class="w-10 h-10"
            onclick="myFactorial(document.getElementById('result').value)"
          >
            !
          </button>
          <button
            class="w-6 h-6 rounded-full bg-[#26232C] p-2 flex items-center justify-center"
          >
            <svg
              class="w-3 h-3 text-[#86858E]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 9-7 7-7-7"
              />
            </svg>
          </button>
        </div>
        <div class="flex flex-row justify-between items-center my-3">
          <button
            class="shadow-lg bg-[#623B4E] w-16 h-16 rounded-full"
            onclick="clearScreen()"
          >
            AC
          </button>
          <button
            class="shadow-lg bg-[#48455A] w-16 h-16 rounded-full"
            onclick=""
          >
            ()
          </button>
          <button
            class="shadow-lg bg-[#48455A] w-16 h-16 rounded-full"
            onclick="percentageCount()"
          >
            %
          </button>
          <button
            class="shadow-lg bg-[#48455A] w-16 h-16 rounded-full"
            onclick="writeCharacter('/')"
          >
            ÷
          </button>
        </div>
        <div class="flex flex-row justify-between items-center my-3">
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(7)"
          >
            7
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(8)"
          >
            8
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(9)"
          >
            9
          </button>
          <button
            class="shadow-lg bg-[#48455A] w-16 h-16 rounded-full"
            onclick="writeCharacter('*')"
          >
            *
          </button>
        </div>
        <div class="flex flex-row justify-between items-center my-3">
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(4)"
          >
            4
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(5)"
          >
            5
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(6)"
          >
            6
          </button>
          <button
            class="shadow-lg bg-[#48455A] w-16 h-16 rounded-full"
            onclick="writeCharacter('-')"
          >
            -
          </button>
        </div>
        <div class="flex flex-row justify-between items-center my-3">
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(1)"
          >
            1
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(2)"
          >
            2
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(3)"
          >
            3
          </button>
          <button
            class="shadow-lg bg-[#48455A] w-16 h-16 rounded-full"
            onclick="writeCharacter('+')"
          >
            +
          </button>
        </div>
        <div class="flex flex-row justify-between items-center my-3">
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter(0)"
          >
            0
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full"
            onclick="writeCharacter('.')"
          >
            .
          </button>
          <button
            class="shadow-lg bg-[#26242C] w-16 h-16 rounded-full flex flex-row justify-center items-center"
            onclick="deleteValue()"
          >
            <svg
              class="w-10 h-10"
              viewBox="0 0 76 76"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              baseProfile="full"
              enable-background="new 0 0 76.00 76.00"
              xml:space="preserve"
              fill="#ffffff"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  fill="#ffffff"
                  fill-opacity="1"
                  stroke-width="0.2"
                  stroke-linejoin="round"
                  d="M 47.5282,42.9497L 42.5784,38L 47.5282,33.0502L 44.9497,30.4718L 40,35.4216L 35.0502,30.4718L 32.4718,33.0502L 37.4216,38L 32.4718,42.9497L 35.0502,45.5282L 40,40.5784L 44.9497,45.5282L 47.5282,42.9497 Z M 18.0147,41.5355L 26.9646,50.4854C 28.0683,51.589 29,52 31,52L 52,52C 54.7614,52 57,49.7614 57,47L 57,29C 57,26.2386 54.7614,24 52,24L 31,24C 29,24 28.0683,24.4113 26.9646,25.5149L 18.0147,34.4645C 16.0621,36.4171 16.0621,39.5829 18.0147,41.5355 Z M 31,49C 30,49 29.6048,48.8828 29.086,48.3641L 20.1361,39.4142C 19.355,38.6332 19.355,37.3669 20.1361,36.5858L 29.086,27.6362C 29.6048,27.1175 30,27 31,27.0001L 52,27.0001C 53.1046,27.0001 54,27.8955 54,29.0001L 54,47.0001C 54,48.1046 53.1046,49.0001 52,49.0001L 31,49 Z "
                ></path>
              </g>
            </svg>
          </button>
          <button
            class="shadow-lg bg-[#45447A] w-16 h-16 rounded-full"
            onclick="calculate()"
          >
            =
          </button>
        </div>
      </div>
    </div>

    <script>
      function setPi() {
        document.getElementById("result").value += Math.PI;
      }

      function writeCharacter(character) {
        document.getElementById("result").value += character;
      }

      function percentageCount() {
        const number = document.getElementById("result").value;
        const result = number / 100;
        document.getElementById("output").value = result;
      }

      function myFactorial(number) {
        for (let i = number - 1; i >= 1; i--) {
          number *= i;
        }
        document.getElementById("output").value = number;
      }

      function calculate() {
        if (document.getElementById("result").value.indexOf("^") > -1) {
          calculatePower();
          return;
        }
        const expression = document.getElementById("result").value;
        const result = eval(expression);
        document.getElementById("output").value = result;
      }

      function deleteValue() {
        const results = document.getElementById("result").value;
        document.getElementById("result").value = Array.from(results)
          .slice(0, -1)
          .join("");
      }

      function clearScreen() {
        document.getElementById("result").value = "";
        document.getElementById("output").value = "";
      }

      function calculateSquareRoot() {
        const number = document.getElementById("result").value;
        const result = Math.sqrt(number);
        document.getElementById("output").value = result;
      }

      function calculatePower() {
        const expression = document.getElementById("result").value;
        const parts = expression.split("^");
        const base = parseFloat(parts[0]);
        const exponent = parseFloat(parts[1]);
        const result = Math.pow(base, exponent);
        document.getElementById("output").value = result;
      }
    </script>
  </body>
</html>
